<mat-card>
    <mat-card-title>Nova empresa</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome de Fantasia"
                [(ngModel)]="company.nomeFantasia" name="nomeFantasia" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Razão Social"
                [(ngModel)]="company.razaoSocial" name="razaoSocial" required>
        </mat-form-field>
        <mat-form-field>
            <input type="number" matInput placeholder="Quantidade de Funcionários"
                [(ngModel)]="company.qtdeFuncionarios" name="qtdeFuncionarios" required>
        </mat-form-field>
        <div>Situação:</div>
        <mat-radio-group [(ngModel)]="company.active" >
            <mat-radio-button [value]="true">Ativo</mat-radio-button>
            <mat-radio-button [value]="false">Inativo</mat-radio-button>
        </mat-radio-group>
     </form>
    <button mat-raised-button (click)="createCompany()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>

